" vim:set et sw=2
set nocompatible              " be iMproved, required
filetype on                  " required
"Reload file
set autoread

let maplocalleader="\\"
nnoremap <C-Left> :tabprevious<CR>
nnoremap <C-Right> :tabnext<CR>
"Window Movement
nnoremap <C-J> <C-W>j
nnoremap <C-K> <C-W>k
nnoremap <C-H> <C-W>h
nnoremap <C-L> <C-W>l

set splitbelow
set splitright

set ignorecase
set nocompatible
set hlsearch
iabbrev @@ zgleason94@gmail.com
iabbrev ccop Copyright 2017 Zach Gleason, all rights reservedv
iabbrev ffor for(int i = 0; i < counter; i++)

"Search into sub folders
"Display all matching files when we tab complete
set path+=**
set wildmenu

"Mouse
set mouse=a

"Clipboard
set clipboard=unnamed

"Repeat command
nnoremap , @@

set surround
